#add-expense {
  input, select {
    display: block;
    padding: 0.75em;
    margin: .5em 0 1em 0;
    width: 90%;
    font-size: 1em;
    border: thin solid #cccccc;
  }

  button {
    background: #3e7504;
    color: #ccff96;
    border: thin solid #3e7504;
    padding: 3px 8px;
    font-size: 1.2em;

  }
}
