#home {
  .menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    position: absolute;
    bottom: 1em;
    li {
      margin: 2em 1em;
    }
    a {
      color: #f9f9f9;
      font-size: 2em;
      text-decoration: none;
    }
  }

}
