$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Lato:100);

@import "home";
@import "add-expense";
@import "view-summary";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #f9f9f9;
  background: #333333;
  height: 100%;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background: #333333;
  opacity: .3;
  -webkit-user-drag: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 100;
  margin-left: 5%;
}

.page-slide {

}
