<div id="view-summary">
    <div id="summary">
        <h2>Expense Summary</h2>

        <!--suppress HtmlUnknownAttribute -->
        <bar-chart data="summaryData"></bar-chart>
    </div>
    <!-- /#summary -->

    <div id="details">
        <h2>Expense Details</h2>

        <div class="expense-details"
             ng-repeat="expense in expenses"
             ng-click="toggleActive($index)"
             ng-class="$index===active ? 'active':'not-active'">
            <div class="col-sm-1">{{ $index+1 }}
            </div>
            <!-- /.col-sm-1 -->
            <div class="col-sm-3">{{ expense.category }}
            </div>
            <!-- /.col-sm-3 -->
            <div class="col-sm-4">{{ expense.description }}
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-2">{{ expense.amount |
                                  currency:"$" }}
            </div>
            <!-- /.col-sm-2 -->
            <div class="col-sm-1"
                 ng-show="$index===active">
                <button type="button" ng-click="removeExpense(expense)" class="remove-expense">
                    &times;
                </button>
            </div>
            <!-- /.col-sm-1 -->
        </div>
        <!-- /.expense-details -->
    </div>
    <!-- /#details -->
</div><!-- /#view-summary -->
